<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam quidem ullam sequi, placeat assumenda ipsam illum qui facilis? Dolorem dolorum aliquam ad ipsam, laudantium quibusdam distinctio commodi ut molestias similique?s
        ,<br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, ut alias. Totam, quod voluptatibus sapiente consequatur ipsam alias veniam ea nulla cumque voluptatum corporis, vel dolor! Vitae mollitia harum ducimus?
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, ut alias. Totam, quod voluptatibus sapiente consequatur ipsam alias veniam ea nulla cumque voluptatum corporis, vel dolor! Vitae mollitia harum ducimus?
        <br/>
    </p>
</div>